<!-- app/views/pages/hosting.html.erb -->

<h1>Mailer that needs to be in main.html.erb!</h1>
  <div id="contact">
  
  <!-- contact_form will be where the mailer is-->
    <%= render 'contact_form' %>
  </div>