<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device - width, initial - scale = 1.0">
    <title>Skyline Hosting and Development</title>
  </head>
  <body>
    <main>
      <!-- ********** Header portion **********-->
      <header class = "skyline-intro">
        <div class = "content-wrap divider">
          <div class = 'menubar'>
            <div class = "barcontainer">
              <h3>Skyline H&D</h3>
            </div>
            <div class = "barcontainer">
              <h3 class="center">Logo Here</h3>
            </div>
            <div class = "barcontainer">
              <img src = "/assets/MenubarsSkyblue.PNG">
            </div>
          </div>
          <h1>Skyline</h1>
          <h2>Hosting & Development</h2>
          <p>With our energetic and creative minds here at Skyline we are
          ready to take care of all your website needs. Check out our different
          service packages that consist of website hosting, custom website
          development, or a combo of both hosting and development. Simply click
          the button below to get ahold of us to quickly get your website
          online to connect to your customers and clients.</p>
        </div>
      </header>

      <!-- ********** Contact Sliver ********** -->
      <section class = "contact-sliver">
        <div class = "content-wrap divider">
          <div class = "slivercontainer">
            <a href = "#contactform" class = "button center">Contact Us</a>
          </div>
          <div class = "slivercontainer">
            <p>Please get in contact with us by clicking
              the button on the left!</p>
          </div>
        </div>
      </section>

      <!-- ********** Services portion **********-->
      <section class = "services">
        <div class = "content-wrap divider">
          <h1>Services</h1>
          <h2>Hosting and Developing websites is Skyline’s expertise. Sign up
            with us by choosing an option from our services below or contact us
            with questions and other details.</h2>
            <div class = "servicecontainer">
              <h3>Website Hosting</h3>
              <h4><br>Monthly hosting plans that fit your needs!</h4>
              <p>Monthly: $5 - $25</p>
            </div>
            <div class = "servicecontainer">
              <h3>Website Development</h3>
              <h4><br>Our custom development packages consist of an Initial payment
                with a monthly upkeep charge.</h4>
              <p>Initial: $100 - $500</p>
              <p>Monthly: $20 - $200</p>
            </div>
            <div class = "servicecontainer">
              <h3>Website Hosting and Development</h3>
              <h4>Our package deal consist of an initial charge then a monthly
                hosting/upkeep charge to maintain site updates continuously.</h4>
              <p>Initial: $100 - $500</p>
              <p>Monthly: $25 - $250</p>
            </div>
        </div>
      </section>

      <!-- ********** Contact portion **********-->
	 
	  
      <section class = "contactform">
        <div class = "content-wrap divider">
          <h1>Please fill out information below!!</h1>
		  <%= render 'contact_form' %>
          
      <!-- ********** Team portion **********-->
      <footer>
        <div class = "content-wrap divider">
          <div class = "teambar"></div>
          <h1>Skyline Team</h1>
          <div class = "teambar"></div>
          <div class = "teamcontainer">
            <img src = "/assets/Nick.jpg" class="center">
			<h2>Nicolas Canals</h2>
            <div class = "teamlist";>
              <%= link_to "Linkedin", "https://www.linkedin.com/in/nicolas-canals-107699181/", :target => "_blank" %>
              <p>nickcanals22@yahoo.com</p>
              <p>Front end Development Lead</p>
              <p>Website Designer</p>
              <p>Client Services</p>
            </div>
          </div>
          <div class = "teamcontainer">
            <img src = "/assets/jay.jpg" class="center">
			<h6><center>place holder pic</center></h6>
			<h2>Jose Martinez</h2>
            <div class = "teamlist";>
              <%= link_to "Linkedin", "https://www.linkedin.com/in/jose-martinez-b3684816a/", :target => "_blank" %>
              <p>jfm9whatever@yahoo.com</p>
              <p>Back end Development Lead</p>
              <p>Client Services</p>
              <p>Hosting Manager</p>
            </div>
          </div>
		  

        </div>
      </footer>
    </main>
  </body>
</html>
