<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device - width, initial - scale = 1.0">
    <title>Skyline Hosting and Development</title>
  </head>
  <body>
    <main>
      <!-- ********** Header portion **********-->
      <header class = "skyline-intro">
        <div class = "content-wrap">
          <h1>Skyline</h1>
          <h2>Hosting & Development</h2>
          <p>With our energetic and creative minds here at Skyline we are
          ready to take care of all your website needs. Check out our different
          service packages that consist of website hosting, custom website
          development, or a combo of both hosting and development. Simply click
          the button below to get ahold of us to quickly get your website
          online to connect to your customers and clients.</p>
        </div>
      </header>

      <!-- ********** Contact Sliver ********** -->
      <section class = "contact-sliver content-wrap divider">
        <div>
          <div class = "twosplit">
            <a class = "button">Contact Us</a>
          </<div>
          <div class = "twosplit">
            <p>Please get in contact with us by clicking
              the button on the left!</p>
          </div>
        </div>
      </section>

      <!-- ********** Services portion **********-->
      <section>
        <div class = "content-wrap divider">
          <h3>SERVICES</h3>
        </div>
      </section>

      <!-- ********** Contact portion **********-->
      <section>
        <div class = "content-wrap divider">
          <h3>CONTACT</h3>
        </div>
      </section>

      <!-- ********** Team portion **********-->
      <footer>
        <div class = "content-wrap divider">
          <h3>TEAM AREA</h3>
        </div>
      </footer>
    </main>
  </body>
</html>
